
.paragraph {
    text-align: center;
  }
  .example-button-row .mat-button-base {
      margin: 15px 30px 20px 30px;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center !important;
      margin-left: auto;
      margin-right: auto;
    }
  
  .save-button {
      border-radius: 10px;
      background-color: #9b3131;
      border: solid 2px #9b3131;
      letter-spacing: 3px;
      text-align: center;
      width: 95px;
    }
  
  .cancel-button {
      border-radius: 10px;
      border: solid 2px #9b3131;
      letter-spacing: 3px;
      text-align: center;
      width: 95px;
  }
  