@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.full-screen {
    background-color: black;
    color: black;
}
.hero {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.container-left {
    background-color: #9b3131;
    width: 50%;
}

.description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
.bottom{
    text-align: center;
    color: cornsilk;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-file {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5%;
    height: 500px;
}

.container-right {
    background-color: white;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
.title {
    margin-top: 45px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #9b3131;
}

h1 {
	font-weight: bold;
	margin: 0;
    font-size: 36px;
}

span {
	font-size: 18px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 50px;
	height: 80%;
	text-align: center;
    margin-top: 4%;
}

.logo {
    height: 160px;
    width: 160px;
}
.input-holder {
    margin-top: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input {
	background-color: #eee;
	border: none;
    border-radius: 20px;
	padding: 14px 15px;
	margin: 9px 0;
    font-size: 17px;
    padding-left: 20px;
    outline: none;
    margin-top: 7px;
}

input:focus {
    border: solid 2.5px #986c62;
    
}

button {
	border-radius: 20px;
	border: 1px solid #9b3131;
	background-color: #9b3131;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding: 12px 33px;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 5   px;
}

button:active {
	transform: scale(0.95);
    background-color: #986c62;
}

button:focus {
	outline: none;
}