<section class="full-screen">
    <div class="hero">
        <div class="container-left">
            <img class="search-file" src="../assets/img/file-search.svg" alt="search-file">
                 <br> <h1 class="bottom">"One World, One People"</h1> <br>
                 <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br> 
                Tenetur, nihil alias optio corrupti animi suscipit? <br> 
                Est nesciunt similique assumenda labore voluptatum omnis <br> 
                ullam consectetur, non pariatur inventore explicabo, <br> 
                voluptates repudiandae. </p>
        </div>
        <div class="container-right">
             <h1 class="title">MSU GENSAN THESIS REPOSITORY</h1>
                <form action="#">
                    <br><img class="logo" src="../assets/img/msu-logo.png" alt="school-logo">
                    <br> <h1>Sign in</h1> <br>
                    <span>Enter your account</span>
                    <input type="email" placeholder="Email"/>
                    <input type="password" placeholder="Password" />
                    <a href="#" class="forgot-pw">Forgot your password?</a>
                    <button [routerLink]="'/content'">Sign In</button>
                    </form>
        </div>
    </div>
</section>