/* header */
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.hero {
  display: flex;
  flex-direction: row;
}

.block-two {
  position: absolute;
  margin-left: 88px;
  width: 75%;
  height: 100%;
  background-color:  #fff;
}

.main-block {
  margin: auto;
  width: 98%;
  background-color: #fff;
  height: 95%;
  margin-top: 18px;
  border-radius: 23px;
  border: solid 2.5px #f5f6f2;
}

.container-table{
    margin: auto;
    width: 94%;
    background-color: #fff;
  }

.text-two {
  margin-top: 27px;
  color: #6d1919;
  margin-left: 15px;
}


/* column-three*/
.block-three {
  position: absolute;
  margin-left: 80.3%;
  top: 18px;
  float: right;
  width: 19%;
  height: 95%;
  background-color: #920e0e;
  border-radius: 25px;
}

.text-three {
  text-align: center;
  color: #fff;
  padding-top: 20px;
  font-size: 28px;
}

.text-four {
  text-align: center;
  color: #fff;
  padding-top: 8px;
  font-size: 28px;
}

.school-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
  width: 130px;
  margin-top: 5px;
}

.time-container{
  border: solid 2px white;
  background-color: #986c62;
  width: 200px;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  margin-top: 25px;
}

.time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.college {
  color: whitesmoke;
  margin: 30px 13px;
  padding: 10px 5px;
  border-radius: 15px;
  text-align: center;
}
.paragraph{
  text-align: center;
  color: #474747;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 20px 10px;
  cursor: pointer;
  padding: 7px 5px;
  box-shadow: 0 0 7px;
}

.education {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 230px;
  width: 230px;
}


/*sidebar css */
.sidebar{
  position: absolute;
  top: 18px;
  left: 8px;
  height: 95%;
  width: 78px;
  background: #920e0e;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-radius: 23px;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 15px;
  left: 50%;
  font-size: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 10px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 15px;
  height: 35px;
  width: 115px;
  background: #f0e7da;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 0.9;
  top: 50%
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 14px;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar ul li a:hover{
  color: #9b3131;
  background: #fff;
}

.active-page{
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 14px;
  white-space: nowrap;
  background: #d4c8be;
}


.sidebar ul li i{
  font-size: 22px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .profile_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile:hover {
  color: #986c62;
  opacity: 0.8;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: row;
}
.container .input{
	border: 0;
	outline: none;
}

.input-container {
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: solid 2.5px #986c62;
}
.top-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.top-container .input-text {
  text-align: center;
  font-size: 18px;
}
.top-container .form-control {
  width: 970px;
  border-radius: 14px;
}
.bottom-container {
  display: flex;
  flex-direction: row;
}
.input-text {
  text-align: left;
  font-size: 17px;
  margin-left: 13px;
  color: #6d1919;
}

.form-control{
  display: flex;
  background-color: #fff;
  border-radius: 14px;
  border: 2.5px solid #986c62; 
	padding: 9px 15px;
	margin: 9px 6px;
	width: 310px;
  font-size: 16px;
  outline: none;
}
.form-control:focus {
  border: solid 3px #c9806a;
}
.last-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  align-items: center;
}

.last-container .form-control {
  width: 970px;
  border-radius: 14px;
}

.button-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}
button {
	border-radius: 15px;
	border: 1px solid #9b3131;
	background-color: #9b3131;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: transform 90ms ease-in;
}

button:active {
	transform: scale(0.95);
    background-color: #9b3131;
}

button:focus {
	outline: none;
}
.input-area-left {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  margin-top: 10px;
  margin-left: 23px;
}
.input-area-middle {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  margin-top: 10px;
}

.input-area-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  margin-top: 10px;
  margin-right: 23px;
}

.save-button {
  display: block;
  margin: auto;
}

.invalid-feedback {
  margin-left: 15px;
  font-size: 14px;
}